@model TechBoard.ViewModels.Company.Account.ChangeCompanyPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>