@model TechBoard.ViewModels.User.Account.UserLoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<form asp-controller="UserAuth" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.AntiForgeryToken()
    <div class="d-flex justify-content-center mt-3">
        <div class="card">
            <div class="container pt-3">
                <div class="mx-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input asp-for="Email" class="form-control" type="email" placeholder="E-mail address"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 form-check">
                        <input asp-for="RememberMe" class="form-check-input"/>
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                    <p class="text-center mt-3">
                        Don't have an account? <a asp-controller="UserAuth" asp-action="Register">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @* <p class="text-center mt-2">
                                <a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                            </p> *@
</form>
