@model TechBoard.ViewModels.User.Dashboard.UserDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="page-title">Dashboard</h1>
    
    <div class="dashboard-grid">
        <!-- User Profile -->
        <a asp-controller="UserProfile" asp-action="Details" class="dashboard-card">
            <div class="card-body">
                <div class="card-content">
                    <div class="text-uppercase mb-1">
                        User Profile
                    </div>
                    <i class="fas fa-user-plus fa-2x"></i>
                </div>
            </div>
        </a>

        <!-- Job Applications -->
        <a asp-controller="UserJobApplication" asp-action="AllApplications" class="dashboard-card">
            <div class="card-body">
                <div class="card-content">
                    <div class="text-uppercase mb-1">
                        My Job Applications
                    </div>
                    <i class="fas fa-briefcase fa-2x"></i>
                </div>
            </div>
        </a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}