@model TechBoard.ViewModels.Company.Analytics.CompanyAnayliticsViewModel

@{
    ViewData["Title"] = "Analytics";
    Layout = "_Layout";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Analytics</h1>
</div>
